<!--Create New Account-->
<h1 class="text-center">Create New Account!</h1>

<form class="col-lg-6 offset-lg-3 create-form">
    <div class="form-group">
        <label for="username">username</label>
        <input type="username" class="form-control" id="usernameInput" placeholder="teamplayer">
    </div>
    <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" id="pwdInput" placeholder="yourpassword">
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control" id="emailInput" placeholder="email@teamplayer.com">
    </div>
    <div class="form-group">
        <label for="zipcode">zipcode</label>
        <input type="zipcode" class="form-control" id="zipInput" placeholder="12345">
    </div>
    <div class="form-group">
        <label for="phone">phone number</label>
        <input type="phone" class="form-control" id="phone" placeholder="555 555 5555">
    </div>

   <a href="/profile"><button id="new-user" class="btn btn-primary">Submit</button></a>
    {{!-- code for this is in the app.js file under function newUser --}}
</form>
