<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {{!-- add any fonts or extra fileshere --}}
	<link rel="stylesheet" href="assets/css/style.css">

	<title>Project Two</title>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    {{!--replace this comment with the public js file--}}
</head>

<body>
	{{{ body }}}
</body>

</html>