<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {{!-- add any fonts or extra fileshere --}}
	{{!--replace this comment with the public css file--}}

	<title>Project Two</title>

	<script src="https://code.jquery.com/jquery.js"></script>
    {{!--replace this comment with the public js file--}}
</head>

<body>
	{{{ body }}}
</body>

</html>