<form>
  <div class="form-group">
    <label for="exampleInput1">Create</label>
    <input type="text" class="form-control" id="league1" placeholder="stat1">
        <label for="exampleInput1">Create</label>
    <input type="text" class="form-control" id="league2" placeholder="stat2">
        <label for="exampleInput1">Create</label>
    <input type="text" class="form-control" id="league3" placeholder="stat3">
        <label for="exampleInput1">Create</label>
    <input type="text" class="form-control" id="league4" placeholder="stat4">
        <label for="exampleInput1">Create</label>
    <input type="text" class="form-control" id="league5" placeholder="stat5">
        <label for="exampleInput1">Create</label>
    <input type="text" class="form-control" id="league" placeholder="league_name">
        <label for="exampleInput1">Create</label>
    <input type="text" class="form-control" id="league6" placeholder="team_name">
        <label for="exampleInput1">Create</label>
    <input type="text" class="form-control" id="league7" placeholder="usernames">
  </div>
  <button type="submit" class="btn btn-primary" id="create">Submit</button>
</form>

<form>
  <br>
  <button type="submit" class="btn btn-primary" id="getAll">Get All</button>
</form>

<form>
  <div class="form-group">
    <label for="selectOne">Select One</label>
    <input type="text" class="form-control" id="selectOne">
  </div>
  <button type="submit" class="btn btn-primary" id="getOne">Submit</button>
</form>

<form>
  <div class="form-group">
    <label for="updateSelection">Update One</label>
    <input type="text" class="form-control" id="updateSelection">
  </div>
  <button type="submit" class="btn btn-primary" id="updateOne">Submit</button>
</form>

<form>
  <div class="form-group">
    <label for="deleteAll">Delete All</label>
    <input type="text" class="form-control" id="deleteAll">
  </div>
  <button type="submit" class="btn btn-primary" id="destroyAll">Submit</button>
</form>

<canvas id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<canvas id="myChart" width="400" height="400"></canvas>

<script src="assets/js/community.js"></script>