<div class="flex-container landing-page">

    <h1 class="display-4 ml4">
        <span class="letters letters-1">Ready</span>
        <span class="letters letters-2">Set</span>
        <span class="letters letters-3">Get Rec'd!</span>
    </h1>

    <p class="lead">An easy way for rec teams to connect with their players and each other.
        Interested in a joining a team? Create an account to unlock full access of Get Rec'd.
    </p>

    <button id="log-in">Log In</button>
    <button id="sign-up">Sign Up</button>
</div>