 <div class="jumbotron jumbotron-fluid" id="profile-jumbotron">
        <div class="container">
            <h1 class="display-4 profile-title">
                Hello, !
            </h1>
            <p class="lead">Welcome to your profile.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg profBtn" href="#" role="button">Newsfeed</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg profBtn"  data-toggle="modal" data-target="#statsModal" role="button">Add New Stat</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div id="leagues-card"  class="card">
                <div class="card-body">
                    <h5 class="card-title">View Your Leagues</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="teams-card" class="card">
                <div class="card-body">
                    <h5 class="card-title">View Your Teams</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="stats-card" class="card">
                <div class="card-body">
                    <h5 class="card-title">View Stats</h5>
                </div>
            </div>
        </div>
    </div>
    <div id="profileContent">

 <div class="modal fade" id="statsModal" tabindex="-1" role="dialog" aria-labelledby="statsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="statsModalLabel">Add A Stat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="value1">stat one</label>
                        <input type="integer" class="form-control" id="value1" placeholder="teamplayer">
                    </div>
                    <div class="form-group">
                        <label for="value2">password</label>
                        <input type="integer" class="form-control" id="value2" placeholder="yourpassword">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/profile"><button type="button" class="btn btn-primary">Submit</button></a>
                </div>
            </div>
        </div>
    </div>
    <canvas id="stats" width="400" height="400"></canvas>
    </div>