<div class="jumbotron jumbotron-fluid" id="profile-jumbotron">
    <div class="container">
        <h1 class="display-4 profile-title">
            Hello!
        </h1>
        <p class="lead">Welcome to your profile.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg profBtn" href="#" role="button" data-toggle="modal"
                data-target="#new-teamStat" id="teamStat">Enter Team Stat</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg profBtn" href="#" role="button" data-toggle="modal"
                data-target="#new-userStat" id="userStat">Enter Your Stat</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg profBtn" href="#" role="button" data-toggle="modal"
                data-target="#view-userStat" id="viewStat">View Your Stats</a>
        </p>
    </div>
</div>


{{!- modal for entering team stats--}}

<div class="modal fade" id="new-teamStat" tabindex="-1" role="dialog" aria-labelledby="team-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="team-modal">Enter Team Stat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="teamStat-choices">Select team</label>
                    <select class="form-control" id="teamStat-choices">
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="teamStat-select">Select stat</label>
                    <select class="form-control" id="teamStat-select">
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="new-stat-value">Enter updated value</label>
                    <input type="text" class="form-control" id="new-stat-value" placeholder="enter updated value here">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#"><button type="button" id="enter-teamStat" class="btn btn-primary">Submit</button></a>
            </div>
        </div>
    </div>
</div>


{{!- modal for entering player stats--}}

<div class="modal fade" id="new-userStat" tabindex="-1" role="dialog" aria-labelledby="user-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="user-modal">Enter Your Stat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="userStat-choices">Select team</label>
                    <select class="form-control" id="userStat-choices">
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="userStat-select">Select stat</label>
                    <select class="form-control" id="userStat-select">
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="userStat-value">Enter updated value</label>
                    <input type="text" class="form-control" id="userStat-value" placeholder="enter updated value here">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#"><button type="button" id="enter-userStat" class="btn btn-primary">Submit</button></a>
            </div>
        </div>
    </div>
</div>

{{!- modal for viewing player stats--}}

<div class="modal fade" id="view-userStat" tabindex="-1" role="dialog" aria-labelledby="user-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="user-modal">Choose Team to View Your Stats</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="view-userTeamStats">Select team</label>
                    <select class="form-control" id="view-userTeamStats">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#"><button type="button" id="view-userStat" class="btn btn-primary" data-dismiss="modal">Submit</button></a>
            </div>
        </div>
    </div>
</div>


{{!-- <div class="row">
    <div class="col-sm-4">
        <div id="leagues-card" class="card">
            <div class="card-body">
                <h5 class="card-title">View Your Leagues</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div id="teams-card" class="card">
            <div class="card-body">
                <h5 class="card-title">View Your Teams</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="dropdown d-flex flex-row bd-highlight mb-3 col-sm">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="userStatButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View Your Stats
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="selectUserStat">
            </div>
        </div>
    </div>
</div>
<div id="profileContent" class="row">
</div> --}}

{{!-- modal for adding a updating a stat button --}}
<div class="modal fade" id="update-stat-modal" tabindex="-1" role="dialog" aria-labelledby="update-stat-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update-stat-label">Update a stat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="update-sport">Choose the sport</label>
                    <select class="form-control" id="update-sport">
                        {{!-- this will need to be populated with handlebars; these are examples for now --}}
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="update-stat-options">Choose the stat</label>
                    <select class="form-control" id="update-stat-options">
                        {{!-- this will need to be populated with handlebars; these are examples for now --}}
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="update-stat-number">Update your stat (this will be added to your current total)</label>
                    <input id="update-stat-number" type="number">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#"><button type="button" class="btn btn-primary">Submit</button></a>
            </div>
        </div>
    </div>
</div>


{{!-- modal for update a stat button --}}
<div class="modal fade" id="add-stat-modal" tabindex="-1" role="dialog" aria-labelledby="add-stat-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-stat-label">Add a new stat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sport">Choose a sport</label>
                    <select class="form-control" id="sport">
                        {{!-- this will need to be populated with handlebars; these are examples for now --}}
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="stat-options">Choose a stat</label>
                    <select class="form-control" id="stat-options">
                        {{!-- this will need to be populated with handlebars; these are examples for now --}}
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="stat-number">Total</label>
                    <input id="stat-number" type="number">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#"><button type="button" class="btn btn-primary">Submit</button></a>
            </div>
        </div>
    </div>
</div>
</div>

<canvas id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div id="myChart" width="100" height="100"></div>