 <div class="jumbotron jumbotron-fluid" id="profile-jumbotron">
        <div class="container">
            <h1 class="display-4 profile-title">
                Hello, !
            </h1>
            <p class="lead">Welcome to your profile.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg profBtn" href="#" role="button">Newsfeed</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg profBtn" href="#" role="button">Add New Stat</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div id="leagues-card"  class="card">
                <div class="card-body">
                    <h5 class="card-title">View Your Leagues</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="teams-card" class="card">
                <div class="card-body">
                    <h5 class="card-title">View Your Teams</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="stats-card" class="card">
                <div class="card-body">
                    <h5 class="card-title">View Stats</h5>
                </div>
            </div>
        </div>
    </div>
    <div id="profileContent">
    </div>