<h1 class="text-center">Profile Page</h1>
    <br></br>
     <!--link to get to profile page-->
    <button type="button" class="btn btn-primary btn-circle btn-md"><i class="fas fa-running"></i></button> 
    <!--link to get to community page-->
    <button type="button" class="btn btn-secondary btn-circle btn-md"><i class="fas fa-users"></i></button> 
   
