<div id="stat-jumbotron" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 profile-title">
            View All Stats
        </h1>
        <br></br>
        <div class="container d-flex justify-content-center">
            <div class="dropdown d-flex flex-row bd-highlight mb-3 col-sm">
                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="statButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Teams
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Team 1</a>
                    <a class="dropdown-item" href="#">Team 2</a>
                    <a class="dropdown-item" href="#">Team 3</a>
                </div>
            </div>
            <div class="dropdown d-flex flex-row bd-highlight mb-3 col-sm">
                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="statButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Individual
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Person 1</a>
                    <a class="dropdown-item" href="#">Person 2</a>
                    <a class="dropdown-item" href="#">Person 3</a>
                </div>
            </div>
        </div>
    </div>
</div>