<div id="stat-jumbotron" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 profile-title">
            View All Stats
        </h1>
        <br></br>
        <div class="container d-flex justify-content-center">
            <div class="dropdown d-flex flex-row bd-highlight mb-3 col-sm">
                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="leagueStatButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Leagues
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="selectLeague">
                    <a class="dropdown-item" href="#">Team 1</a>
                    <a class="dropdown-item" href="#">Team 2</a>
                    <a class="dropdown-item" href="#">Team 3</a>
                </div>
            </div>
            <div class="dropdown d-flex flex-row bd-highlight mb-3 col-sm">
                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="teamStatButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Teams
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="selectTeam">
                    <a class="dropdown-item" href="#">Person 1</a>
                    <a class="dropdown-item" href="#">Person 2</a>
                    <a class="dropdown-item" href="#">Person 3</a>
                </div>
            </div>
        </div>
    </div>
</div>

<canvas id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div id="myChart" width="100" height="100"></div>
