/*landing page and animation*/
.opening-screen{
    background-color: #002b5c;
    height: 100vh;
    width: 100%;
    position: relative;
}
.landing-page{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    height: 100vh;
    width: 100%;
}

.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
  color: #c4ced4;
  width: 375px;
}

.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  opacity: 0; 
  color: #c4ced4;
}

.about-ytm{
  padding: 0;
  margin: 0;
}
.main-description{
  background-color: #c4ced4;
  color:  #002b5c;
}

.index-lead{
  width: 75%;
}



/*styling for all pages*/
nav{
  background-color: #002b5c;  
}

.navbar-light .brand{
  color:#c4ced4;
  font-size: 1.5rem;
  padding-right: 15px
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-toggler, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-toggler{
color: #c4ced4;
text-decoration-line: underline;
}

.btn-primary {
  background-color: #002b5c; 
  color:#c4ced4;
  border-color: #002b5c;
}

.btn-primary:hover{
  background-color: rgba(0,43,92,.8);
  border-block-color: rgba(0,43,92,.8);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-toggler:hover, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-toggler:hover{
  color:#c4ced4;
}
.navbar-light .navbar-toggler {
  border-color: #c4ced4;
}

.display-4{
  color:  #c4ced4;
  font-family: 'Heebo', sans-serif;
  filter: drop-shadow(10px -1px 20px #002b5c);
}

.container-fluid{
  padding: 0;
}

.lead{
  filter: drop-shadow(1px 1px 5px black);
  font-weight: bold;
  color: #c4ced4;
}

img{
  width: 100%;
}

.jumbotron-fluid{
padding-top: 10%;
padding-bottom: 10%;
width: 100%;
}

.container-fluid{
  margin: 0;
}

/*Index Page Styling*/
#index-image{
  background-image: url("../images/team-blur.jpg");
  background-size: cover;
}

/*Styling for Profile Page*/
#profile-jumbotron{
  background-image: url("../images/profilebg-blur.jpg");
  background-size: cover;
}

.btn-primary {
  background-color: #002b5c;
  color: #c4ced4;
  border-color: #002b5c;
}

.profBtn {
  float: left;
  margin-right: 5px;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
}

/*Styling for Stats Page*/
#stat-jumbotron {
  background-image: url("../images/statbg.jpg");
  background-size: cover;
}

/*styling for leagues page*/
#leagues-jumbotron{
  background-image: url("../images/leaguespage-blur.jpg");
  background-size: cover;
  background-position: center;
}


