.opening-screen{
    background-color: #002b5c;
    height: 100vh;
    width: 100%;
    position: relative;
}
.landing-page{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    background-color: #002b5c;
}

.display-4{
  color:  #c4ced4;
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
}

.jumbotron{
  background-image: url("../images/team.jpg");
  background-size: cover;
  
}
.container-fluid{
  padding: 0;
}
.lead{
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
  font-weight: bold;
  color: #c4ced4;
}
.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
    color: #c4ced4;
    width: 375px;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    opacity: 0; 
    color: #c4ced4;
  }