.opening-screen{
    background-color: #002b5c;
    height: 100vh;
    width: 100%;
    position: relative;
}
.landing-page{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
}
nav{
  background-color: #002b5c;  
}

.navbar-light .brand{
  color:#c4ced4;
  font-size: 1.5rem;
  padding-right: 15px
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-toggler, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-toggler{
color: #c4ced4;
text-decoration-line: underline;
}
.btn-primary {
  background-color: #002b5c; 
  color:#c4ced4;
  border-color: #002b5c;
}

.btn-primary:hover{
  background-color: rgba(0,43,92,.8);
  border-block-color: rgba(0,43,92,.8);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-toggler:hover, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-toggler:hover{
  color:#c4ced4;
}
.navbar-light .navbar-toggler {
  border-color: #c4ced4;
}

.display-4{
  color:  #c4ced4;
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
}

.jumbotron{
  background-image: url("../images/team.jpg");
  background-size: cover;
  
}
.container-fluid{
  padding: 0;
}
.lead{
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
  font-weight: bold;
  color: #c4ced4;
}
.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
    color: #c4ced4;
    width: 375px;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    opacity: 0; 
    color: #c4ced4;
  }

/*Styling for Profile Page*/

#profile-jumbotron {
  background-image: url("../images/profilebg.jpg");
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;

}

.profile-title {
  color: #c4ced4;
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
  font-size: 50pt;
}

.lead {
  color:#c4ced4;
}

.btn-primary {
  background-color: #002b5c;
  color: #c4ced4;
  border-color: #002b5c;
}

.profBtn {
  float: left;
  margin-right: 5px;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
}
